<li class="top-song-wrapper">
  <div class="song-item">
    <span class="title">#<%=song.rank%>.</span>
    <span class="feat">(<%=song.streams%> streams)</span>
  </div>
  <div class="song-item">
    <span class="title song"><%=song.title%></span>
    <span class="feat artist">By <%=song.artist%></span>
  </div>
  <div class="song-item pub">
    <span class="title publication"
      >publication date: <%=song.publicationDate%></span
    >
  </div>
</li>
